.openerp .oe_form td.oe_form_group_cell div.bold_field_label {
    border-right: 1px solid #ddd;
    padding: 2px 0px;
}
.openerp .oe_form td.oe_form_group_cell div.bold_field_label label {
    line-height: 18px;
    display: block;
    min-width: 150px;
    font-weight: bold !important;
}

.openerp .oe_form div.oe_low_text textarea{
    height: 60px;
}
